{% extends "admin.html.twig" %}

{% block body %}
<a class="btn btn-primary btn-sm" href="{{ path('admin.voyage.ajout') }}" role="button" style="padding: 2px 5px; font-size: 0.4em;">
    Ajouter une nouvelle visite.
</a>
{% endblock %}